@model pi.domaine.Entities.OffrePostpayee

@{
    ViewBag.Title = "Details";
    // Layout = "~/Areas/AdminSide/Views/Shared/_crmLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OffrePostpayee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Pack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixHorsPack)
        </dt>


        <dd>
            @Html.DisplayFor(model => model.PrixHorsPack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_debut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_debut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.periode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.periode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>
        <dd>
            @{ string path = "~/Content/Uploads/" + Model.img;}
            <img src="@Url.Content(path)" width="100" height="100" />
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Offre }) |
    @Html.ActionLink("Back to List", "Index")
</p>
