@model pi.domaine.Entities.Response

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Head_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Response</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResponseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdResponse }) |
    @Html.ActionLink("Back to List", "Index")
</p>
