<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta property="og:description" content="Retrouvez tout un panel de services à votre disposition afin d'améliorer votre expérience voix et internet." />
    <meta property="og:title" content="Djezzy Services" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="index.html" />
    <meta property="og:site_name" content="Djezzy" />
    <meta property="og:image" content=@Url.Content("~/wp-content/uploads/2016/12/services_couv_element.png") />
    <link rel="image_src" href=@Url.Content("~/wp-content/uploads/2016/12/services_couv_element.png" ) />

    <meta name="twitter:title" content="Djezzy Services" />
    <meta name="twitter:description" content="Retrouvez tout un panel de services à votre disposition afin d'améliorer votre expérience voix et internet." />
    <meta name="twitter:image" content=@Url.Content("~/wp-content/uploads/2016/12/services_couv_element.png" )/>
    <meta name="twitter:card" content="summary_large_image" />
   
  
    <script async src="//"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-4750143419582280",
        enable_page_level_ads: true
    });
    </script>
    <link rel="alternate" hreflang="ar" href="../../ar/%d8%a3%d9%81%d8%b1%d8%a7%d8%af/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/index.html" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <link rel="stylesheet" href=@Url.Content("~/wp-content/themes/djezzy/assets/css/core.mince31.css?v=19") type="text/css">
                               
    <script type="text/javascript" src=@Url.Content("~/wp-content/themes/djezzy/assets/js/jquery.notready.min.js")></script>
    <script type="text/javascript">
        var ajaxurl = '../../teq-ajax.html';
    </script>
</head>
<body>
    <div>
        @RenderBody()
    </div>


    <nav id="m-navmaster">
        <div>
            <div id="m-search">
                <form method="get" action="http://www.djezzy.dz/recherche/">
                    <input name="search" id="m-search-input" type="search" class="form-control" placeholder="Recherche" />
                </form>
            </div>
            <ul>
                <li>
                    <span><span class="m-icn djz-language"></span>Langues</span>
                    <ul>
                        <li>
                            <a title="عربي" href="../../ar/%d8%a3%d9%81%d8%b1%d8%a7%d8%af/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/index.html">
                                عربي
                            </a>
                        </li>


                        <li class="active">
                            <a title="Français">
                                Français
                            </a>
                        </li>

                    </ul>
                </li>




                <li>
                    <a title="E-Paiement" href="https://moncompte.djezzy.dz/fr/guest/recharge">
                        E-Paiement
                    </a>
                </li>






                <li>
                    <a title="Nos boutiques" href="../../nos-boutiques/index.html">
                        Nos boutiques
                    </a>
                </li>





                <li>
                    <span>
                        <span class="m-icn djz-tools"></span>
                        Mon espace
                    </span>
                    <ul>
                        <li><a title="Nous contacter" href="../../nous-contacter/index.html">Nous contacter</a></li>
                        <li><a title="E-paiement" href="https://moncompte.djezzy.dz/fr/guest/recharge">E-paiement</a></li>
                        <li><a title="Web Chat" href="https://chat.djezzy.com/Code/webchatLogin.php">Web Chat</a></li>
                        <li><a title="Imtiyaz" href="http://www.imtiyaz.dz/djezzyweb/">Imtiyaz</a></li>
                        <li><a title="Guide configuration" href="../../accueil/tout-sur-la-3g/guide-de-configuration/index.html">Guide configuration</a></li>
                        <li><a title="Selfcare" href="../../index.html">Selfcare</a></li>
                    </ul>
                </li>















            </ul>
        </div>
    </nav>
    <div id="search-form">
        <div class="mfp-bg in"></div>
        <div id="search">
            <div id="search-container">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                    <form method="get" action="http://www.djezzy.dz/recherche/" role="search">
                        <div id="search-content">
                            <div class="input-group">
                                <form action="#">
                                    <input name="search" type="text" class="form-control input-lg" placeholder="Recherche..." />
                                    <span class="input-group-btn">
                                        <button class="btn btn-info btn-lg" type="submit">
                                            <i class="djz-search"></i>
                                        </button>
                                    </span>
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav -->
    <div id="nav-master">
        <div class="container">
            <ul id="portal-switch">
                <li class="active"><a title="Particuliers" href="../../index.html">Particuliers</a></li>
                <li><a title="Entreprises" href="../../entreprises/index.html">Entreprises</a></li>
                <li><a title="Djezzy" href="../../djezzy/index.html">Djezzy</a></li>
            </ul>        <ul id="utilities" class="nav navbar-nav">



                <li><a target="_blank" title="E-Paiement" class="ut-lnk bg-primary" href="https://moncompte.djezzy.dz/fr/guest/recharge">E-Paiement</a></li>





                <li><a title="Nos boutiques" class="ut-lnk " href="../../nos-boutiques/index.html">Nos boutiques</a></li>






                <li>
                    <div id="my-djezzy" class="dropdown ">
                        <button class="dropdown-toggle " type="button" id="dropdownMenu-" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Mon espace
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu--" ">

                            <ul id=" mdj-links">
                <li>
                    <a title="Nous contacter" href="../../nous-contacter/index.html"><span class="icon-Info-Facture"></span>Nous contacter</a>
                </li>
                <li>
                    <a target="_blank" title="E-paiement" href="https://moncompte.djezzy.dz/fr/guest/recharge"><span class="icon-Flexy2"></span>E-paiement</a>
                </li>
                <li>
                    <a title="Web Chat" href="https://chat.djezzy.com/Code/webchatLogin.php"><span class="icon-SMS"></span>Web Chat</a>
                </li>
                <li>
                    <a title="Imtiyaz" href="http://www.imtiyaz.dz/djezzyweb/"><span class="icon-Cadeau-Surprise"></span>Imtiyaz</a>
                </li>
                <li>
                    <a title="Guide configuration" href="../../accueil/tout-sur-la-3g/guide-de-configuration/index.html"><span class="icon-Mobil-Connect"></span>Guide configuration</a>
                </li>
                <li>
                    <a title="Selfcare" href="../../index.html"><span class="icon-Profil-Premium"></span>Selfcare</a>
                </li>
            </ul>
        </div>
    </div>
    </li>
















    <li>
        <div id="language-switch" class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Français            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">

                <li>
                    <a title="عربي" href="../../ar/%d8%a3%d9%81%d8%b1%d8%a7%d8%af/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/index.html">
                        عربي
                    </a>
                </li>




                <li class="active">
                    <a title="Français">
                        Français
                    </a>
                </li>


            </ul>
        </div>
    </li>
    <li>
        <button id="search-master" type="button">
            <span class="djz-search"></span>
        </button>
    </li>
    </ul>

    </div>
    </div>


    <div id="nav-main" class="navbar navbar-default yamm">
        <div class="container">
            <div class="navbar-header navbar-header--left"><i class="ramadhan-logo" id="app-logo"></i></div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle djz-menu" data-toggle="collapse" data-target="#mynav"></button>
                <a id="brand-logo" class="" href="../../index.html">Djezzy            </a>
                <button id="m-navmaster-btn" type="button" class="navbar-toggle djz-person"></button>
            </div>
            <div class="collapse navbar-collapse" id="mynav">
                <ul id="menu" class="nav navbar-nav">




                    <li class="dropdown yamm-fullwidth">
                        <a class="menu-link dropdown-toggle" data-toggle="dropdown" href="#">Offres<b class="caret"></b></a>
                        <div class="dropdown-menu xsubmenu">
                            <div class="xsubmenu-nav col-sm-3">
                                <ul class="nav nav-pills nav-stacked">

                                    <li class="active"><a href="#item-106913" data-toggle="pill">Offres Prépayées</a></li>


                                    <li class=""><a href="#item-106912" data-toggle="pill">Offres Postpayées</a></li>


                                    <li class=""><a href="#item-106914" data-toggle="pill">Offres Internet</a></li>


                                    <li class=""><a href="#item-113151" data-toggle="pill">Djezzy SPECIAL</a></li>


                                </ul>
                            </div>
                            <div class="tab-content col-sm-9">

                                <div class="tab-pane active" id="item-106913">
                                    <div class="row">
                                        <div class="royalSlider rsDefault">
                                            <div>


                                                <div class="col-xs-4">
                                                    <a title="Djezzy HAYLA MAXI" target="" class="bc" href="../offres/djezzy-hayla-maxi/index.html">
                                                        <div class="bc-thumb">
                                                            <img src=@Url.Content("~/wp-content/uploads/2019/10/158x228fr0-158x228.jpg") alt="Djezzy HAYLA MAXI">
                                                        </div>

                                                        <div class="bc-titles">
                                                            <h2 class="bc-title">Djezzy HAYLA MAXI</h2>
                                                        </div>
                                                    </a>
                                                </div>


                                                <div class="col-xs-4">
                                                    <a title="Djezzy HAYLA BEZZEF" target="" class="bc" href="../offres/djezzy-hayla-bezzef/index.html">
                                                        <div class="bc-thumb">
                                                            <img src=@Url.Content("~/wp-content/uploads/2019/07/158x228_vf_hayla_bezzef-1.png") alt="Djezzy HAYLA BEZZEF">
                                                        </div>

                                                        <div class="bc-titles">
                                                            <h2 class="bc-title">Djezzy HAYLA BEZZEF</h2>
                                                        </div>
                                                    </a>
                                                </div>


                                                <div class="col-xs-4">
                                                    <a title="Djezzy HADRA" target="" class="bc" href="../offres/djezzy-hadra/index.html">
                                                        <div class="bc-thumb">
                                                            <img src=@Url.Content("~/wp-content/uploads/2018/09/declinaisons-hadra-stc-haaarba2.jpg") alt="Djezzy HADRA">
                                                        </div>

                                                        <div class="bc-titles">
                                                            <h2 class="bc-title">Djezzy HADRA</h2>
                                                        </div>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane " id="item-106912">
                                    <div class="row">
                                        <div class="royalSlider rsDefault">
                                            <div>


                                                <div class="col-xs-4">
                                                    <a title="DJEZZY CONFORT" target="" class="bc" href="../offres/djezzy-confort-2/index.html">
                                                        <div class="bc-thumb">
                                                            <img src=@Url.Content("~/wp-content/uploads/2019/09/djezzy-confort158x228.png") alt="DJEZZY CONFORT">
                                                        </div>

                                                        <div class="bc-titles">
                                                            <h2 class="bc-title">DJEZZY CONFORT</h2>
                                                        </div>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane " id="item-106914">
                                    <div class="row">
                                        <div class="royalSlider rsDefault">
                                            <div>


                                                <div class="col-xs-4">
                                                    <a title="Pack Djezzy 3ayla" target="" class="bc" href="../offres/djezzy-modem-1/index.html">
                                                        <div class="bc-thumb">
                                                            <img src=@Url.Content("~/wp-content/uploads/2019/03/3ayla-famille-portrait158-228.png") alt="Pack Djezzy 3ayla">
                                                        </div>

                                                        <div class="bc-titles">
                                                            <h2 class="bc-title">Pack Djezzy 3ayla</h2>
                                                        </div>
                                                    </a>
                                                </div>


                                                <div class="col-xs-4">
                                                    <a title="Djezzy FLEXYNET" target="" class="bc" href="../offres/flexy-net/index.html">
                                                        <div class="bc-thumb">
                                                            <img src=@Url.Content("~/wp-content/uploads/2019/02/flexynet-158x228-garc-on-2.png") alt="Djezzy FLEXYNET">
                                                        </div>

                                                        <div class="bc-titles">
                                                            <h2 class="bc-title">Djezzy FLEXYNET</h2>
                                                        </div>
                                                    </a>
                                                </div>


                                                <div class="col-xs-4">
                                                    <a title="Djezzy Internet" target="" class="bc" href="../offres/djezzy-internet/index.html">
                                                        <div class="bc-thumb">
                                                            <img src=@Url.Content("~/wp-content/uploads/2018/12/posters-djezzy-internet-generique-158x228-1.png") alt="Djezzy Internet">
                                                        </div>

                                                        <div class="bc-titles">
                                                            <h2 class="bc-title">Djezzy Internet</h2>
                                                        </div>
                                                    </a>
                                                </div>

                                            </div><div>

                                                <div class="col-xs-4">
                                                    <a title="Djezzy Connect 4G" target="" class="bc" href="../offres/djezzy-connect-4g/index.html">
                                                        <div class="bc-thumb">
                                                            <img src=@Url.Content("~/wp-content/uploads/2018/10/djezzy-connect-158-x-282-vf-2.png") alt="Djezzy Connect 4G">
                                                        </div>

                                                        <div class="bc-titles">
                                                            <h2 class="bc-title">Djezzy Connect 4G</h2>
                                                        </div>
                                                    </a>
                                                </div>


                                                <div class="col-xs-4">
                                                    <a title="OFFRES INTERNET" target="" class="bc" href="../offres/offres-internet/index.html">

                                                        <div class="bc-titles">
                                                            <h2 class="bc-title">OFFRES INTERNET</h2>
                                                        </div>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane " id="item-113151">
                                    <div class="row">
                                        <div class="royalSlider rsDefault">
                                            <div>


                                                <div class="col-xs-4">
                                                    <a title="Djezzy SPECIAL" target="" class="bc" href="../offres/djezzy-special-1/index.html">
                                                        <div class="bc-thumb">
                                                            <img src=@Url.Content("~/wp-content/uploads/2019/06/special_web_158_228.png") alt="Djezzy SPECIAL">
                                                        </div>

                                                        <div class="bc-titles">
                                                            <h2 class="bc-title">Djezzy SPECIAL</h2>
                                                        </div>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>




                    <li><a title="Services" target="" class="menu-link"  @Html.ActionLink("Service", "Service")</a></li>



                    <li><a title="Mobiles" target="" class="menu-link"  @Html.ActionLink("Mobiles", "Mobiles")</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="side-widget share-widget">
            <div class="sw-container">
                <a class="sw-control djz-share" href="#"></a>
                <div class="sw-content">

                    <div class="sw-share">
                        <span>Partager sur :</span>
                        <ul class="share-group ssk-group">
                            <li><a class="btn-share djz-facebook ssk ssk-facebook" href="#"><span>facebook</span></a></li>
                            <li><a class="btn-share djz-twitter ssk ssk-twitter" href="#"><span>twitter</span></a></li>
                            <li><a class="btn-share djz-linkedin ssk ssk-linkedin" href="#"><span>linkedin</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>    <div id="service">
            <div id="focus-1">
                <div style="
                            background-image: url('../../wp-content/uploads/2016/12/services_couv_bg.png');

                            background-color: #EDEDED;

        " class="offer-banner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-xs-12">
                                <div class="content">
                                    <h1>Services Particuliers</h1>



                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <img src=@Url.Content("~/wp-content/uploads/2016/12/services_couv_element.png") alt="Services Particuliers">
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="title-bar">
                <div class="container">
                    <ol class="breadcrumb">
                        <li>
                            <a class="breadcrumb-home" href="../../index.html"><span class="icon-Home_Page"></span><span class="bch-txt">Accueil</span></a>
                        </li>
                        <li>
                            <a href="../index.html">
                                Particuliers
                            </a>
                        </li>

                        <li class="active">Services</li>
                    </ol>
                </div>
            </div>
            <div class="container-fw">
                <div class="container">
                    <div class="options-tab-pictos">
                        <div class="row">
                            <ul class="nav " role="tablist">
                                <li class="active">
                                    <a href="#tab-target-14" role="tab" data-toggle="tab">Divertissement et Multimédia</a>
                                </li>
                                <li class="">
                                    <a href="#tab-target-33" role="tab" data-toggle="tab">Voix</a>
                                </li>
                                <li class="">
                                    <a href="#tab-target-31" role="tab" data-toggle="tab">Rechargement</a>
                                </li>
                                <li class="">
                                    <a href="#tab-target-42" role="tab" data-toggle="tab">A l'étranger</a>
                                </li>
                                <li class="">
                                    <a href="#tab-target-13" role="tab" data-toggle="tab">Messagerie</a>
                                </li>
                                <li class="">
                                    <a href="#tab-target-34" role="tab" data-toggle="tab">Facture</a>
                                </li>
                                <li class="">
                                    <a href="#tab-target-37" role="tab" data-toggle="tab">Complémentaires</a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade  active in  " id="tab-target-14">
                                <div class="row">

                                </div><div class="row">
                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Scoop"></i>
                                            </div>
                                            <h3>DJEZZY SCOOP</h3>
                                            <p>
                                                Le Service Djezzy Scoop vous permet de recevoir sur votre mobile des nouvelles, informations culturelles et météo par SMS.
                                            </p>
                                            <a title="DJEZZY SCOOP" class="btn btn-primary btn-new" href="djezzy-scoop/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Ranati"></i>
                                            </div>
                                            <h3>RANATI</h3>
                                            <p>
                                                Changez de tonalité en fonction des nouveautés ou des événements, aussi souvent que vous le souhaitez.
                                            </p>
                                            <a title="RANATI" class="btn btn-primary btn-new" href="ranati/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-SMS-2"></i>
                                            </div>
                                            <h3>Djezzy Chat</h3>
                                            <p>
                                                Djezzy Chat est un service qui vous donne accès par SMS à des forums de discussion et de chat anonyme sur votre mobile.
                                            </p>
                                            <a title="Djezzy Chat" class="btn btn-primary btn-new" href="djezzy-chat/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Verso"></i>
                                            </div>
                                            <h3>Verso +</h3>
                                            <p>
                                                Ce service vous permet d’émettre et de recevoir toutes vos communications en Appel ou SMS à partir d’un deuxième numéro.
                                            </p>
                                            <a title="Verso +" class="btn btn-primary btn-new" href="verso/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                </div><div class="row">
                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Noukta"></i>
                                            </div>
                                            <h3>Djezzy Nokta</h3>
                                            <p>
                                                «Nokta» offre un contenu divertissant algérien composé des deux thèmes Blagues et Boukala.
                                            </p>
                                            <a title="Djezzy Nokta" class="btn btn-primary btn-new" href="nokta/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Gaming"></i>
                                            </div>
                                            <h3>GAME PORTAL</h3>
                                            <p>
                                                Le Game Portal est un service de contenus sous forme de portail de jeux mobiles, proposé aux abonnés Djezzy équipés de Smartphones Android.
                                            </p>
                                            <a title="GAME PORTAL" class="btn btn-primary btn-new" href="gameportal/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade  " id="tab-target-33">
                                <div class="row">

                                </div><div class="row">
                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Clip"></i>
                                            </div>
                                            <h3>CLIP+</h3>
                                            <p>
                                                Ne perdez plus aucun appel, soyez informé de toute tentative d'appel quand vous êtes injoignables.
                                            </p>
                                            <a title="CLIP+" class="btn btn-primary btn-new" href="clip/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Appel-Masque"></i>
                                            </div>
                                            <h3>Appel masqué</h3>
                                            <p>
                                                Ce service vous permet de masquer votre numéro lorsque vous appelez sans vouloir afficher votre numéro à votre interlocuteur.
                                            </p>
                                            <a title="Appel masqué" class="btn btn-primary btn-new" href="appel-masque/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Appel-Masque"></i>
                                            </div>
                                            <h3>709 service liste rouge</h3>
                                            <p>
                                                Ce service garanti la confidentialité des coordonnées  des abonnés Post-payés et empêche leur diffusion sur l’annuaire.
                                            </p>
                                            <a title="709 service liste rouge" class="btn btn-primary btn-new" href="709-service-liste-rouge/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Appel-Conference"></i>
                                            </div>
                                            <h3>Appels en conférence</h3>
                                            <p>
                                                Cette solution vous permet d'effectuer des appels pour un travail ou une réunion entre plusieurs personnes à la fois à distance.
                                            </p>
                                            <a title="Appels en conférence" class="btn btn-primary btn-new" href="appels-en-conference/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                </div><div class="row">
                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Renvoi-Appel"></i>
                                            </div>
                                            <h3>Renvoi d'appel</h3>
                                            <p>
                                                Vous vous êtes injoignables ? Ce service vous permet de transférer vos appels vers le numéro de votre choix.
                                            </p>
                                            <a title="Renvoi d'appel" class="btn btn-primary btn-new" href="renvoi-dappel/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Identification-Appel"></i>
                                            </div>
                                            <h3>Identification d'appel</h3>
                                            <p>
                                                Avec ce service, le numéro de votre correspondant s’affiche automatiquement sur l’écran de votre mobile.
                                            </p>
                                            <a title="Identification d'appel" class="btn btn-primary btn-new" href="identification-dappel/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Choix-Numero"></i>
                                            </div>
                                            <h3>Choix du Numéro</h3>
                                            <p>
                                                Choisissez vote numéro au moment de l’achat de votre carte SIM, si le numéro n’a pas déjà été attribué. 
                                            </p>
                                            <a title="Choix du Numéro" class="btn btn-primary btn-new" href="choix-du-numero/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Double-Appel"></i>
                                            </div>
                                            <h3>Double Appel</h3>
                                            <p>
                                                Ce service vous permet d’émettre ou de recevoir deux appels en même temps, et mettre le second interlocuteur en attente.
                                            </p>
                                            <a title="Double Appel" class="btn btn-primary btn-new" href="double-appel/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade  " id="tab-target-31">
                                <div class="row">

                                </div><div class="row">
                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Tranquilo"></i>
                                            </div>
                                            <h3>TRANQUILO</h3>
                                            <p>
                                                Permet à nos abonnés Prépayés ayant un solde insuffisant d’effectuer des appels & d’envoyer des SMS d’urgence.
                                            </p>
                                            <a title="TRANQUILO" class="btn btn-primary btn-new" href="tranquilo/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-E-Flexy"></i>
                                            </div>
                                            <h3>E-Flexy</h3>
                                            <p>
                                                Rechargez du crédit sans vous déplacer, en utilisant votre carte CIB, d’une manière électronique en toute sécurité.
                                            </p>
                                            <a title="E-Flexy" class="btn btn-primary btn-new" href="e-flexy/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Flexyli"></i>
                                            </div>
                                            <h3>Flexily</h3>
                                            <p>
                                                Les abonnés Djezzy Classic, Millenium et Djezzy Line ont la possibilité de transférer du crédit à leurs proches et amis prépayés.
                                            </p>
                                            <a title="Flexily" class="btn btn-primary btn-new" href="flexily/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Flexyli"></i>
                                            </div>
                                            <h3>Flexy</h3>
                                            <p>
                                                Recharger le montant que vous voulez et au numéro que vous souhaitez, et payez votre facture sans déplacement.
                                            </p>
                                            <a title="Flexy" class="btn btn-primary btn-new" href="flexy-3/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade  " id="tab-target-42">
                                <div class="row">

                                </div><div class="row">
                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Appel-International"></i>
                                            </div>
                                            <h3>International</h3>
                                            <p>
                                                Le service international vous permet d’émettre des appels internationaux (vers le fixe et le mobile) à partir de votre ligne Djezzy.
                                            </p>
                                            <a title="International" class="btn btn-primary btn-new" href="international-2/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Roaming"></i>
                                            </div>
                                            <h3>Roaming</h3>
                                            <p>
                                                Le service Roaming vous permet d’émettre des appels vers d'autres pays lorsque vous partez en voyage.
                                            </p>
                                            <a title="Roaming" class="btn btn-primary btn-new" href="roaming-2/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade  " id="tab-target-13">
                                <div class="row">

                                </div><div class="row">
                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-SMS-3lik"></i>
                                            </div>
                                            <h3>SMS 3LIK</h3>
                                            <p>
                                                Restez en contact avec vos amis et proches même si vous ne disposez pas de crédit.
                                            </p>
                                            <a title="SMS 3LIK" class="btn btn-primary btn-new" href="sms-3lik/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Messagerie-Vocale"></i>
                                            </div>
                                            <h3>Messagerie vocale</h3>
                                            <p>
                                                Basculez vos appels vers votre messagerie vocale, et ne manquez plus les messages de vos correspondants.
                                            </p>
                                            <a title="Messagerie vocale" class="btn btn-primary btn-new" href="messagerie-vocale/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-SMS-Bip"></i>
                                            </div>
                                            <h3>SMS BIP</h3>
                                            <p>
                                                Envoyez gratuitement vers le réseau Djezzy 6 SMS chaque semaine à vos proches même lorsque vous n’avez pas de crédit.
                                            </p>
                                            <a title="SMS BIP" class="btn btn-primary btn-new" href="sms-bip/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade  " id="tab-target-34">
                                <div class="row">

                                </div><div class="row">
                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Facture-Detaillee2"></i>
                                            </div>
                                            <h3>Facture détaillée ponctuelle</h3>
                                            <p>
                                                Ce service vous permet de disposer d'un relevé détaillé de toutes vos communications, sur la une période de consommation allant de 01 à 90 jours.
                                            </p>
                                            <a title="Facture détaillée ponctuelle" class="btn btn-primary btn-new" href="facture-detaillee-ponctuelle/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-TPE"></i>
                                            </div>
                                            <h3>TPE</h3>
                                            <p>
                                                Rechargez votre crédit ou payez vos factures grâce aux tickets électroniques disponibles sur nos boutiques.
                                            </p>
                                            <a title="TPE" class="btn btn-primary btn-new" href="tpe/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Maily"></i>
                                            </div>
                                            <h3>B2Mail</h3>
                                            <p>
                                                Ce service vous permet, aux abonnés post-payés et control, de recevoir vos factures sur votre adresse mail.
                                            </p>
                                            <a title="B2Mail" class="btn btn-primary btn-new" href="b2mail/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Prelevement_Auto"></i>
                                            </div>
                                            <h3>Prélèvement automatique</h3>
                                            <p>
                                                Vous pouvez payer vos factures par prélèvement bancaire automatique, qui est parfaitement sécurisé.
                                            </p>
                                            <a title="Prélèvement automatique" class="btn btn-primary btn-new" href="prelevement-automatique/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                </div><div class="row">
                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Paimenet-Carte-Recharge"></i>
                                            </div>
                                            <h3>Paiement par carte de recharge</h3>
                                            <p>
                                                Payez vos factures grâce aux cartes de recharge disponibles chez nos boutiques Djezzy.
                                            </p>
                                            <a title="Paiement par carte de recharge" class="btn btn-primary btn-new" href="paiement-par-carte-de-recharge/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Info-Facture"></i>
                                            </div>
                                            <h3>Info facture 787</h3>
                                            <p>
                                                Ce service est disponible 24h/24 et 7j/7, il vous permet d’avoir à tout moment des détails sur vos factures.
                                            </p>
                                            <a title="Info facture 787" class="btn btn-primary btn-new" href="info-facture-787/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-E-facture"></i>
                                            </div>
                                            <h3>E-Facture</h3>
                                            <p>
                                                Ce service vous permet de consulter et payer vos factures avec vos cartes CIB en toute sécurité.
                                            </p>
                                            <a title="E-Facture" class="btn btn-primary btn-new" href="e-facture-2/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class=" icon-Facture-Detaillee"></i>
                                            </div>
                                            <h3>Nouvelle facturation</h3>
                                            <p>
                                                Dans le cadre de sa transformation digitale et dans une démarche d’amélioration continue, Djezzy simplifie pour vous l’édition de vos&#8230;
                                            </p>
                                            <a title="Nouvelle facturation" class="btn btn-primary btn-new" href="nouvelle-facturation/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade  " id="tab-target-37">
                                <div class="row">

                                </div><div class="row">
                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Control-Parental"></i>
                                            </div>
                                            <h3>Contrôle parental</h3>
                                            <p>
                                                Faites profiter pleinement vos enfants des SPEED 2G, 3G et 4G de Djezzy en toute sécurité en les protégeant des contenus inappropriés.
                                            </p>
                                            <a title="Contrôle parental" class="btn btn-primary btn-new" href="controle-parental-djezzy/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Call-center"></i>
                                            </div>
                                            <h3>*777# de Djezzy</h3>
                                            <p>
                                                Créé pour répondre à vos besoins, Le code *777# vous donne plus d’autonomie dans la gestion des options de votre ligne.
                                            </p>
                                            <a title="*777# de Djezzy" class="btn btn-primary btn-new" href="777/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Votre-Service-Client"></i>
                                            </div>
                                            <h3>Votre service client</h3>
                                            <p>
                                                Créés pour être toujours à votre écoute, des Centres d’Appels ont été mis à la disposition des professionnels et particuliers.
                                            </p>
                                            <a title="Votre service client" class="btn btn-primary btn-new" href="votre-service-client/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Numero-Utile"></i>
                                            </div>
                                            <h3>Numéros utiles</h3>
                                            <p>
                                                Djezzy met à votre disposition une liste de numéros utiles, pour répondre à vos questions et vous faciliter l'accès aux services.
                                            </p>
                                            <a title="Numéros utiles" class="btn btn-primary btn-new" href="numeros-utiles/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                </div><div class="row">
                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Changer-Numero"></i>
                                            </div>
                                            <h3>Changement de carte SIM</h3>
                                            <p>
                                                Votre puce n’est plus opérationnelle? vous avez égaré votre téléphone ? Présentez vous à une de nos boutiques munis de votre pièce&#8230;
                                            </p>
                                            <a title="Changement de carte SIM" class="btn btn-primary btn-new" href="changement-de-carte-sim/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="item">
                                            <div class="picto-container">
                                                <i class="icon-Vol-Mobile"></i>
                                            </div>
                                            <h3>Vol de mobile</h3>
                                            <p>
                                                Djezzy s’associe avec les opérateurs Mobilis et Ooredoo pour bloquer les mobiles volés et les rendre inutilisables sur les trois réseaux.
                                            </p>
                                            <a title="Vol de mobile" class="btn btn-primary btn-new" href="vol-de-mobile/index.html">
                                                Plus de détails
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <footer>
            <div id="social-links" class="full">
                <ul>
                    <li><a title="twitter" target="_blank" class="djz-twitter" href="https://twitter.com/djezzy"><span>twitter</span></a></li>
                    <li><a title="facebook" target="_blank" class="djz-facebook" href="https://www.facebook.com/djezzy"><span>facebook</span></a></li>
                    <li><a title="google-plus" target="_blank" class="djz-google-plus" href="https://plus.google.com/+DjezzyOfficial?rel=author"><span>google-plus</span></a></li>
                    <li><a title="youtube" target="_blank" class="djz-youtube" href="https://www.youtube.com/user/djezzytube"><span>youtube</span></a></li>
                    <li><a title="linkedin" target="_blank" class="djz-linkedin" href="http://www.linkedin.com/company/djezzy"><span>linkedin</span></a></li>
                    <li><a title="instagram" target="_blank" class="djz-instagram" href="https://www.instagram.com/djezzy.dz/"><span>instagram</span></a></li>
                </ul>
            </div>
            <div id="secondary-links" class="full">
                <div class="container">
                    <nav class="row">
                        <ul>



                            <li class="col-sm-3">
                                <span class="scl-title"><a title="Particuliers" href="../../index.html">Particuliers</a></span>
                            </li>



                            <li class="col-sm-3">
                                <span class="scl-title"><a title="Entreprises" href="../../entreprises/index.html">Entreprises</a></span>
                            </li>



                            <li class="col-sm-3">
                                <span class="scl-title"><a title="Djezzy" href="../../djezzy/index.html">Djezzy</a></span>
                            </li>



                            <li class="col-sm-3">
                                <span class="scl-title"><a title="A PROPOS DE DJEZZY" href="../../djezzy/nous-connaitre/a-propos-de-djezzy/index.html">A PROPOS DE DJEZZY</a></span>
                                <ul class="scl-links">
                                    <li><a title="Services Particuliers" href="index.html">Services Particuliers</a></li>
                                    <li><a title="Services Entreprises" href="../../entreprises/services/index.html">Services Entreprises</a></li>
                                    <li><a title="Mentions légales" href="../../mentions-legales/index.html">Mentions légales</a></li>

                                </ul>
                            </li>




                        </ul>
                    </nav>
                </div>
            </div>
            <div id="info-links" class="full">
                <div class="container">
                    <div class="row">
                        <ul class="inl-infos"></ul>                <p class="inl-copyright">© Djezzy 2019 | Tous droits réservés.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div><!-- End wrapper -->
    <script src=@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.2/modernizr.min.js")></script>
    <script type="text/javascript" src=@Url.Content("~/wp-content/themes/djezzy/assets/js/app.minfb74.js?v=16")></script>
    <script type="text/javascript" src=@Url.Content("~/wp-content/themes/djezzy/assets/js/jquery.ready.min.js")></script>
    <!-- TEQ.MON.OK -->
    <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window, document, 'script', '@Url.Content("https://www.google-analytics.com/analytics.js")', 'ga');

    ga('create', 'UA-35211108-4', 'auto');
    ga('send', 'pageview');
    </script>
</body>
</html>
